{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
      <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid">
                <div class="span6">
                	<!--500x300 -->
                  {%placeholder "image-1" %}
                  <h2>{%placeholder "about-header1" %}</h2>
                  <p>{%placeholder "content1" %}</p>
                </div>
                <div class="span6">
                	<!--500x300 -->
                  {%placeholder "image-2" %}
                  <h2>{%placeholder "about-header2" %}</h2>
                  <p>{%placeholder "content2" %}</p>
                  <h2>{%placeholder "contactus-header" %}</h2>
                          <form class="lobstrer_form_validation">
                    <label>Email</label>
                    <input type="email" class="input-block-level" id="email" name="email" required />
                    <label>Message</label>
                    <textarea class="input-block-level" rows="5" required id="message"></textarea>
                    <input type="submit" value="Send" class="btn btn-large flat btn-primary orange-btn send-message">
                  </form>


                </div>
              </div>
   
              </div>
            </div>
        </div>
      </section><!-- End section content page -->

{% endblock base_content %}