{% load cms_tags menu_tags sekizai_tags placeholder_tags%}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% page_attribute page_title %}{% endblock %}</title>
    {% render_block "css" %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="Sunshine Coast, British Columbia, Tourism"/>
    <meta name="description" content=""/>
    <meta name="author" content="Revolution Digital"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}images/apple-touch-icon-60x60.png">
<link rel="icon" type="image/png" href="{{STATIC_URL}}images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{STATIC_URL}}images/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{STATIC_URL}}images/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <!-- styles Bootsrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- end styles Bootsrap -->
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- FONTAWESOME STYLE -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/font/FortAwesome/css/font-awesome.css"/>
    <style type="text/css">
@font-face {
    font-family: "Microsoft YaHei";
      font-style: normal;
     font-weight: 400;
}
@font-face {
    font-family: "Microsoft YaHei";
      font-style: normal;
     font-weight: 700;
}
</style>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{STATIC_URL}}css/font/FortAwesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Style Lightbox -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/light_box/magnific-popup.css"/>
    <!-- End Style Lightbox -->

    <!-- Style Full Calendar-->
    <link href="{{STATIC_URL}}css/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- Style Datatatbles-->
    <link href="{{STATIC_URL}}css/datatables/css/jquery.dataTables.css" rel="stylesheet" />

    <!-- styles Lobster Theme -->
    <link href="{{STATIC_URL}}css/style.css?v1.5" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/color_theme.css" rel="stylesheet" />
    <!-- place for your custom styles -->
    <link href="{{STATIC_URL}}css/mystyle.css" rel="stylesheet" />
    <!-- End Lobster Theme -->
</head>
<body class="theme_blue">
    {% cms_toolbar %}
        <div id="wrapper">
     
      <section id="top_header">
          <div class="exchange-rate">
                              <div class="exchange-label">
                              </div>
                            <script type="text/javascript" src="http://www.likeforex.com/widgets/c/eq.php?f=CNY&t=CAD&a=1"></script>
                          </div>
        <section class="logo-header">
            <div class="inner-wrapper">
            <div class="row">
                <!-- Start of www.likeforex.com Code --><div style="font-size:13px;background-color:none;text-align:center;padding:5px;position:absolute;right:20px">
                
              </div><!-- End of www.likeforex.com Code -->
                    <div class="span5">
                        <a href = "/">
                         <img src= "{{STATIC_URL}}images/logo.png">
                         </a>
                     </div>
                     <div class="span5 more-detail">
                         <div class="color-orange language-padder">
                            <a href="/zh">中文</a> | <a href="/en">English</a>
                          

                    </div>

                 </div>   
            </div>  
            </div>  
                  

        </section>  
        <div class="inner-wrapper text_center">
          <!--Start Main Navigation-->
          <div class="togle_menu_mobile"><a class="btn btn-primary flat" data-toggle="collapse" data-target=".main_navbar"> <i class="icon-th-list icon-2x"></i> </a></div>
          <nav class="main_navbar collapse">
            <ul class="unstyled">
                {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
          </nav>
          <!--ENd Main Navigation-->
        </div>
      </section>      <!-- Start section content Top -->
 <section id="content_top">
        <!-- STart sequence Slider  -->
        <div id="sequence">
          <a href="#" class="sequence-prev">Prev</a>
          <a href="#" class="sequence-next">Next</a>
          <ul class="sequence-canvas unstyled">
            <li class="animate-in ">
              <div class="start_anime back" class="back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider1.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%static_placeholder 'top-banner-header1' %}</h2>

                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider2.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title bottom-right-slider">{%static_placeholder 'top-banner-header2' %}</h2>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider3.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%static_placeholder 'top-banner-header3' %}</h2>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider4.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%static_placeholder 'top-banner-header4' %}</h2>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider5.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%static_placeholder 'top-banner-header5' %}</h2>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider6.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title bottom-right-slider">{%static_placeholder 'top-banner-header6' %}</h2>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime back">
                <!-- 1700 x 600 -->
                <img src="/static/images/slider7.jpg">
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%static_placeholder 'top-banner-header7' %}</h2>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div><!-- End sequence Slider  -->
      </section><!-- End section content page -->
    

      <!-- Start section logo message area -->
      <section id="logo_message_area">
        <div class="inner-wrapper">
          <!-- Start logo image -->
          <!-- Start Message Your own -->
          <div class="row-fluid">
            <div class="span8">
              <div id="weather"></div>

              <p class="no_margin"> </p>
            </div>
            <div class="span4 text_right">
              <a href="/contact-us" class="btn btn-primary flat orange-btn"> {%static_placeholder 'email-text'%}<i class="icon-envelope"></i></a>
            </div>
          </div><!-- End Message Your own -->
        </div>
        <div class="inner-wrapper driver_space"></div>
      </section><!-- End section logo message area -->
    {% block base_content %}
    {% endblock base_content %}
      {% static_placeholder "footer" %}

      <!-- Start Control Color Theme -->
      </div><!-- End Control Color Theme -->
    </div>
{% render_block "js" %}
    <!--=========================================================================-->
    <!--Load JS source-->
    <!--=========================================================================-->
    <!--Load JS JQUERY-->
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.2.custom.min.js"></script>

    <!--Load JS Bootstrap-->
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <!--=========================================================================-->
    <!--Load JS plugins-->
    <!--=========================================================================-->
    <!--End JS Grid masonry-->
    <script src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
    <!--End JS Grid slider sequence-->
    <script src="{{STATIC_URL}}js/jquery.sequence-min.js"></script>

    <!--Load JS scrool smoothest-->
    <script src="{{STATIC_URL}}js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.localScroll.min.js"></script>
    <!--End JS scrool smoothest-->

    <!--Load JS Datatables plugin-->
    <script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
    <!--Load JS fullcalendar plugin-->
    <script src="{{STATIC_URL}}js/fullcalendar.min.js"></script>
    <!--Load JS magnific lightbox plugin-->
    <script src="{{STATIC_URL}}js/jquery.magnific-popup.min.js"></script>
    <!--Load JS lazy load image unveil-->
    <script src="{{STATIC_URL}}js/jquery.unveil.min.js"></script>
    <!--Load JS jquery validation -->
    <script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>

    <!--Load JS jquery shintact remove it if unnecessary-->
    <link href="documentation/assets/shi_default.min.css" rel="stylesheet" />
    <script src="documentation/assets/shi_jquery.min.js"></script>
    <!-- end Load JS plugins-->

    <!--load js cookie #[optional]-->
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <!--end load js cookie-->
    <script src="{{STATIC_URL}}js/jquery.simpleWeather.min.js"></script>
    <script src="{{STATIC_URL}}js/moment-timezone.js"></script>
    <script src="{{STATIC_URL}}js/moment.js"></script>


    <!--Load JS config application-->
    <script src="{{STATIC_URL}}js/app.js"></script>
   <script>
   $(document).ready(function(){
resizeDiv();
});

window.onresize = function(event) {
resizeDiv();
}

function resizeDiv() {
vpw = $(window).width();
height = vpw * 6
height = height/17
$("#sequence").css({"height": height + "px"});
}
   </script>

   <script>
// Docs at http://simpleweatherjs.com
$(document).ready(function() {

//load news and events
if (document.URL.indexOf("/zh/") > -1){
$('.exchange-label').html("最新汇率:") 
}
 if (document.URL.indexOf("/en/") > -1){
$('.exchange-label').html("Latest Rate :") 
$('.exchange-rate').css({"width": "220px"});
$('.exchange-label').css({"margin-right": "5px"});



}
 

  $.simpleWeather({
    location: 'Vancouver, BC',
    woeid: '',
    unit: 'c',
    success: function(weather) {
      html = 'Sunshine Coast Weather: '+weather.temp+'&deg;'+weather.units.temp+"<img style='width:35px;padding-left:10px' src='"+weather.image+"'>"
      $("#weather").html(html);
    },
    error: function(error) {
      $("#weather").html('<p>'+error+'</p>');
    }
  });
});

</script>


<script>
$('.send-message').click(function(){
  user_email = document.getElementById('email').value
  user_message = document.getElementById('message').value
  alert(user_email)
$.ajax({
  type: "POST",
  url: "https://mandrillapp.com/api/1.0/messages/send.json",
  data: {
    "key": "eYgXhyzwlJt4hP2Evxe5bQ",
    "message": {
      "from_email": "info@revolutiondigital.ca",
      "to": [
          {
            "email": "info@sunshinecoastclub.com",
            "name": "Sunshine Coast Club",
            "type": "to"
          },
        ],
      "autotext": "true",
      "subject": "New User Message",
      "html": "Message From:" +user_email + "<br/>"+"message:"+user_message
    }
  }
 }).done(function(response) {
   console.log(response); // if you're into that sorta thing

 });

})

$('.subscribe-it').click(function(){
user_email = document.getElementById('newsletter-email').value
console.log(user_email)
 if (document.URL.indexOf("/zh/") > -1){
  language = "chinese"
 }
 if (document.URL.indexOf("/zh/") > -1){
  language = "english"
 }
$.ajax({
  type: "POST",
  url: "https://mandrillapp.com/api/1.0/messages/send.json",
  data: {
    "key": "eYgXhyzwlJt4hP2Evxe5bQ",
    "message": {
      "from_email": "info@revolutiondigital.ca",
      "to": [
          {
            "email": "info@sunshinecoastclub.com",
            "name": "Sunshine Coast Club",
            "type": "to"
          },

        ],
      "autotext": "true",
      "subject": "User Has registered for newsletter",
      "html": "This user has registered for our newsletter:" +user_email+"<br/>Language:"+language
    }
  }
 }).done(function(response) {
   console.log(response); // if you're into that sorta thing
   document.getElementById('newsletter-email').value = ""

 });
 }) 


</script>
    {%block add_script %}
    {%endblock add_script %}
    <!--end JS config application-->
</body>
</html>
