{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    {% render_block "css" %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="bootstrap, Templatte bootstrap, Template bootstrap hotel, bootstrap hotel , wrapbootstrap, yobio"/>
    <meta name="description" content="HTML Responsive, Best HTML template for your hotel website"/>
    <meta name="author" content="yobio studio"/>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/faicon.png"/>
    <!-- styles Bootsrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- end styles Bootsrap -->

    <!-- FONTAWESOME STYLE -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/font/FortAwesome/css/font-awesome.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{STATIC_URL}}css/font/FortAwesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Style Lightbox -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/light_box/magnific-popup.css"/>
    <!-- End Style Lightbox -->

    <!-- Style Full Calendar-->
    <link href="{{STATIC_URL}}css/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- Style Datatatbles-->
    <link href="{{STATIC_URL}}css/datatables/css/jquery.dataTables.css" rel="stylesheet" />

    <!-- styles Lobster Theme -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/color_theme.css" rel="stylesheet" />
    <!-- place for your custom styles -->
    <link href="{{STATIC_URL}}css/mystyle.css" rel="stylesheet" />
    <!-- End Lobster Theme -->
</head>
<body class="theme_blue">
    {% cms_toolbar %}
        <div id="wrapper">
     
      <section id="top_header">
             <section class="logo-header">
                  

      </section>  
        <div class="inner-wrapper text_center">
          <!--Start Main Navigation-->
          <div class="togle_menu_mobile"><a class="btn btn-primary flat" data-toggle="collapse" data-target=".main_navbar"> <i class="icon-th-list icon-2x"></i> </a> <strong>&nbsp;&nbsp;Lobster </strong> Hotel</div>
          <nav class="main_navbar collapse">
            <ul class="unstyled">
                {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
          </nav>
          <!--ENd Main Navigation-->
        </div>
      </section>      <!-- Start section content Top -->

    

    {% block base_content %}
    {% endblock base_content %}
            <!--Start Footer Section-->
      <footer id="footer">
        <div class="inner-wrapper driver_space"></div>
        <div class="inner-wrapper content">
          <div class="row-fluid">
            <div class="span4">
              <h3 >About <span class="font_hotel">Us</span></h3>
              <p>Phasellus fringilla suscipit risus nec eleifend. </p>
              <!--Start List Contact Info-->
              <ul class="unstyled contact_info">
                <li class="location">12345 / Some Street<br>Portland, USA</li>
                <li class="phone">phone: +1 (44)  123-45-67<br>fax: +1 (44)  123-45-63</li>
                <li class="skype"><a href="skype:echo123?call">Skype Me</a></li>
              </ul>
              <!--End List Contact Info-->
              <h3 >Stay Connect  <span class="font_hotel"> Socials</span></h3>
              <!--Start List Links Social Network-->
              <div class="link_socials">
                <a href="#"><img src="{{STATIC_URL}}images/icons/facebook.png" alt="network"/></a>
                <a href="#"><img src="{{STATIC_URL}}images/icons/twitter.png" alt="network"/></a>
                <a href="#"><img src="{{STATIC_URL}}images/icons/google-plus.png" alt="network"/></a>
                <a href="#"><img src="{{STATIC_URL}}images/icons/vimeo.png" alt="network"/></a>
                <a href="#"><img src="{{STATIC_URL}}images/icons/youtube.png" alt="network"/></a>
              </div>
              <!--End List Links Social Network-->
            </div>
            <div class="span4">
              <h3 >Page  <span class="font_hotel"> Links</span></h3>
              <!--Start List Link pages-->
              <ul class="link_list_footer">
                <li><a href="#">Home</a></li>
                <li><a href="#">Accomodation</a></li>
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Offering</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Room VIP</a></li>
                <li><a href="#">Room Deluxe</a></li>
                <li><a href="#">Room Standart</a></li>
              </ul>
              <!--End List Link pages-->
            </div>
            <div class="span4">
              <h3 >Our <span class="font_hotel">Galeries</span></h3>
              <!--Start List Grid Galeries img-->
              <div class="gridmasonry galeries_footer">
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="{{STATIC_URL}}images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
              </div>
              <!--End List Grid Galeries img-->
            </div>
          </div>
        </div>
        <!--Start Sucribe Panel-->
        <div class="subcrible">
          <div class="inner-wrapper">
            <div class="row-fluid">
              <div class="span3"><h2> <strong>Subscribe</strong> to get <span class="font_hotel">our latest</span> news</h2></div>
              <div class="span9">
                <!--Start Form Subcribe-->
                <form>
                  <input type="text" name="email" class="input-block-level" placeholder="Enter Your Email"/>
                  <input type="submit" name="send" value="Subcribe" class="btn flat btn-primary btn-large"/>
                </form>
                <!--End Form Subcribe-->
              </div>
            </div>
          </div>
        </div>

      <div class="footer_bottom">
          <div class="inner-wrapper">
            <div class="row-fluid ">
              <div class="span3"><p class="font_hotel">Lobster Hotel</p></div>
              <div class="span3">
                <!--Start List Flags-->
                <div class="languages">
                  <ul class="unstyled">
                    <li><a href="#"><img  src="{{STATIC_URL}}images/flag/germen.png" alt="flag"/> Germen</a></li>
                    <li><a href="#"><img  src="{{STATIC_URL}}images/flag/france.png" alt="flag"/> France</a></li>
                    <li><a href="#"><img  src="{{STATIC_URL}}images/flag/english.png" alt="flag"/> English</a></li>
                  </ul>
                </div>
                <!--End List Flags-->
              </div>
              <div class="span6 text_right"><p>Copyright &copy; 2015 Sunshine Coast Club All Rights Reserved</p></div>
            </div>
          </div>
        </div><!--End Footer Bottom-->
        <!--Start Arrow Back To TOP Page-->
        <div id="back_to_top">
          <a href="#wrapper" class="localScroll btn flat btn-inverse hidden-phone">
            <i class="icon-3x icon-angle-up"></i>
          </a>
        </div><!--End Arrow Back To TOP Page-->
      </footer><!--End Footer Section-->

      <!-- Start Control Color Theme -->
    0x30/000/000" alt=""/></a>
      </div><!-- End Control Color Theme -->
    </div>
{% render_block "js" %}
    <!--=========================================================================-->
    <!--Load JS source-->
    <!--=========================================================================-->
    <!--Load JS JQUERY-->
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.2.custom.min.js"></script>

    <!--Load JS Bootstrap-->
    <script src="{{STATIC_URL}}js/bootstrap.js"></script>
    <!--=========================================================================-->
    <!--Load JS plugins-->
    <!--=========================================================================-->
    <!--End JS Grid masonry-->
    <script src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
    <!--End JS Grid slider sequence-->
    <script src="{{STATIC_URL}}js/jquery.sequence-min.js"></script>

    <!--Load JS scrool smoothest-->
    <script src="{{STATIC_URL}}js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.localScroll.min.js"></script>
    <!--End JS scrool smoothest-->

    <!--Load JS Datatables plugin-->
    <script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
    <!--Load JS fullcalendar plugin-->
    <script src="{{STATIC_URL}}js/fullcalendar.min.js"></script>
    <!--Load JS magnific lightbox plugin-->
    <script src="{{STATIC_URL}}js/jquery.magnific-popup.min.js"></script>
    <!--Load JS lazy load image unveil-->
    <script src="{{STATIC_URL}}js/jquery.unveil.min.js"></script>
    <!--Load JS jquery validation -->
    <script src="{{STATIC_URL}}js/jquery.validate.min.js"></script>

    <!--Load JS jquery shintact remove it if unnecessary-->
    <link href="documentation/assets/shi_default.min.css" rel="stylesheet" />
    <script src="documentation/assets/shi_jquery.min.js"></script>
    <!-- end Load JS plugins-->

    <!--load js cookie #[optional]-->
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <!--end load js cookie-->

    <!--Load JS config application-->
    <script src="{{STATIC_URL}}js/app.js"></script>
    <!--end JS config application-->
</body>
</html>
