{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
      <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid">
                <div class="span12">
                	<!--500x300 -->
                  <h2>{%placeholder "about-header1" %}</h2>
                  <p>{%placeholder "content1" %}</p>
                </div>

              </div>
   
              </div>
            </div>
        </div>
      </section><!-- End section content page -->

{% endblock base_content %}