{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
      <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid">
                <div class="span6">
                	<!--500x300 -->
                  <h2 >{%placeholder "contact-header1" %}</h2>
                  <p>{%placeholder "content1" %}</p>
                  <p>{%placeholder "contact_icons" %}</p>
                  <img src='/static/images/qrcode.png' style ="margin-left:auto 10px; display:block">
                </div>
                <div class="span6">
                  <h3>{%placeholder "contactus-header" %}</h3>
                                  <form class="lobstrer_form_validation">
                    <label>Email</label>
                    <input type="email" class="input-block-level" name="email" id="email" required />
                    <label>Message</label>
                    <textarea class="input-block-level" rows="5" id="message" required></textarea>
                    <input type="submit" value="Send" class="btn btn-large flat btn-primary orange-btn contact-us-btn send-message">
                  </form>


                </div>
              </div>
              <!-- <div class="row-fluid">
                 <div id="food_this_week" class="carousel slide contact-banner">
                <div class="carousel-inner">
                  <div class="item active">
                    {%placeholder "contact-image2" %}
                  </div>
                   <div class="item ">
                    {%placeholder "contact-image3" %}
                  </div>
 
 
 
                </div>

      <a class="carousel-control left" href="#food_this_week" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#food_this_week" data-slide="next">›</a>
              </div>
              </div> -->
   
              </div>
            </div>
        </div>
      </section><!-- End section content page -->

{% endblock base_content %}