{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Home{% endblock add_title %}
{%block base_content %}
  <section id="content_top">
        <!-- STart sequence Slider  -->
        <div id="sequence">
          <a href="#" class="sequence-prev">Prev</a>
          <a href="#" class="sequence-next">Next</a>
          <ul class="sequence-canvas unstyled">
            <li class="animate-in ">
              <div class="start_anime">
                <img src="{{STATIC_URL}}images/slider/s1.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%placeholder header1 %}</h2>

                    <img src="{{STATIC_URL}}images/slider/2586270104_7f6d2c12aa.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime">
                <img src="{{STATIC_URL}}images/slider/s2.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%placeholder header2 %}</h2>
                    <img src="{{STATIC_URL}}images/slider/2585437547_01262e75df.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime">
                <img src="{{STATIC_URL}}images/slider/s2.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">{%placeholder header3 %}</h2>
                    <img src="{{STATIC_URL}}images/slider/2585437547_01262e75df.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- End sequence Slider  -->
      </section><!-- End section content page -->
      <!-- Start section logo message area -->
      <section id="logo_message_area">
        <div class="inner-wrapper">
          <!-- Start logo image -->
          <!-- Start Message Your own -->
          <div class="row-fluid">
            <div class="span8">
              <p class="no_margin"> </p>
            </div>
            <div class="span4 text_right">
              <a class="btn btn-primary flat orange-btn"> {%placeholder 'email-text' %}<i class=" icon-email"></i></a>
            </div>
          </div><!-- End Message Your own -->
        </div>
        <div class="inner-wrapper driver_space"></div>
      </section><!-- End section logo message area -->
      <!-- Start section content page -->
      <section id="content">
        <div class="inner-wrapper">
          <!-- Begin Content Page -->
          <div class="row-fluid">
            <div class="span12">
              <!-- Start Grid Promotion-->
              <div class="gridmasonry promoted_grid">
                <div class="item_grid item3">
                  <a href="#" class="promoted">
                    {%placeholder promo-img2 %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo1' %}</h4>
                        
                      </div>
                    </div>
                  </a>
                </div>
                <div class="item_grid item3">
                  <a href="#" class="promoted">
                    {%placeholder promo-img2 %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo2' %}</h4>
                      
                      </div>
                    </div>
                  </a>
                </div>
                <div class="item_grid item3">
                  <a href="#" class="promoted">
                  	<!-- 500x300-->
                    {%placeholder promo-img3 %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo3' %}</h4>
                        
                      </div>
                    </div>
                  </a>
                </div>
              </div><!-- End  Grid Promotion-->

              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <div class="text_center">
                <h1>{%placeholder 'title1' %}</h1>
                <p>{%placeholder 'description1' %}</p>
              </div>
              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <!-- Start Grid Top Featires-->
              <div class="row-fluid">
                <div class="span4 text_center">
                  <div class="boxfeature">
                    <div class="img_preview">
                    	<!-- 350 x 525-->
                      {%placeholder 'img1' %}
                      <h4>{%placeholder "sales-header1" %}</h4>
                    </div>
                    <div class="desc">
                      {%placeholder 'sales-desc1' %}
                      <p><a class="btn btn-primary flat btn-large orange-btn">{%placeholder 'button-1' %}</a></p>
                    </div>
                  </div>
                </div>
                <div class="span4 text_center">
                  <div class="boxfeature">
                    <div class="img_preview">
                      {%placeholder 'img2' %}
                      <h4>{%placeholder "sales-header2" %}</h4>
                    </div>
                    <div class="desc">
                      <p>{%placeholder 'sales-desc2' %}</p>
                      <p><a class="btn btn-primary  flat btn-large orange-btn">{%placeholder 'button-2'%}</a></p>
                    </div>
                  </div>
                </div>
                <div class="span4 text_center">
                  <div class="boxfeature">
                    <div class="img_preview">
                      {%placeholder 'img3' %}
                      <h4>{%placeholder "sales-header3" %}</h4>
                    </div>
                    <div class="desc">
                      <p>{%placeholder 'sales-desc3' %}.</p>
                      <p><a class="btn btn-primary  flat btn-large orange-btn">{%placeholder 'button-3'%}</a></p>
                    </div>
                  </div>
                </div>
              </div> <!-- End Grid Top Featires-->

              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <div class="row-fluid">
                <div class="span6">
                  <!-- Start Testimonaila list-->
                  <h3 >{%placeholder "testimonial-header" %}</h3>
                  <ul class="unstyled custumer_say">
                    <li class="clearfix">
                      <h4 class="media-heading">Ray O’Sun</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </li>
                    <li class="clearfix">
                      <img class="pull-left img_client" src="{{STATIC_URL}}images/custumers/c2.jpg" alt="image">
                      <h4 class="media-heading">Joe Morton </h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </li>
                    <li class="clearfix">
                      <img class="pull-left img_client" src="{{STATIC_URL}}images/custumers/c3.jpg" alt="image">
                      <h4 class="media-heading">Jenny Flex</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </li>
                    <li class="clearfix">
                      <img class="pull-left img_client" src="{{STATIC_URL}}images/custumers/c4.jpg" alt="image">
                      <h4 class="media-heading">Lupe Lamora</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </li>
                  </ul><!-- End Testimonaila list-->
                </div>
                <div class="span6">
                  <!-- Start Events list-->
                  <h3>{%placeholder "event-header" %}</h3>
                  <ul class="unstyled events">
                    <li>
                      <div class="content_post">
                        <img class="pull-left img_preview" src="{{STATIC_URL}}images/morguefile/file000995479886.jpg" alt="preview" />
                        <h4>Free Breakfast For all custumers</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-mini flat ">Read More</a>
                      </div>
                    </li>
                    <li>
                      <div class="content_post">
                        <img class="pull-left img_preview" src="{{STATIC_URL}}images/morguefile/file000995479886.jpg" alt="preview" />
                        <h4>Free Breakfast For all custumers</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industryy text of the printing and typesetting industryy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-mini flat ">Read More</a>
                      </div>
                    </li>
                  </ul><!-- End Events list-->
                </div>
              </div>
            </div>
          </div>
          <!-- End Content Page -->
        </div>
      </section><!-- End section content page -->      

{% endblock base_content %}