{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}

 
      <!-- Start section content page -->
      <section id="content">
        <div class="inner-wrapper">
          <!-- Begin Content Page -->
          <div class="row-fluid">
            <div class="span12">
              <!-- Start Grid Promotion-->
              <div id="hide-2">
              <div class="gridmasonry promoted_grid" >
                 <script type='text/javascript'>
    if(document.URL.indexOf("/en/") > -1){
      var divOne = document.getElementById('hide-2');
divOne.style.display='none';
      
    }
                </script>
                <div class="item_grid item3 promoted">
                    <!-- 500x300-->
                    {%placeholder 'promo-img1' %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo1' %}</h4>
                        
                      </div>
                    </div>
                </div>
                <div class="item_grid item3 promoted">
                    <!-- 500x300-->
                    {%placeholder 'promo-img2' %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo2' %}</h4>
                      
                      </div>
                    </div>
                </div>
                <div class="item_grid item3 promoted">
                  	<!-- 500x300-->
                    {%placeholder 'promo-img3' %}
                    <div class="desc_promo bottom">
                      <div class="panel">
                        <h4>{%placeholder 'promo3' %}</h4>
                        
                      </div>
                    </div>
                </div>
              </div><!-- End  Grid Promotion-->
  </div>
              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <div class="text_center">
                <h1 class="blue-me center-it">{%placeholder 'title1' %}</h1>
                <p>{%placeholder 'title2' %}</p>
              </div>
              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <!-- Start Grid Top Featires-->
              <div class="row-fluid " id="hide-1" >
                <script type='text/javascript'>
    if(document.URL.indexOf("/en/") > -1){
      var divOne = document.getElementById('hide-1');
divOne.style.display='none';
      
    }
                </script>
                <!-- <div class="span4 text_center no-left-margin">
                  <div class="boxfeature">
                    <div class="img_preview">
                      {%placeholder 'img1' %}
                      <h4>{%placeholder "sales-header1" %}</h4>
                    </div>
                    <div class="desc pad-20">
                      {%placeholder 'sales-desc1' %}
                      {%placeholder 'button-1' %}
                    </div>
                  </div>
                </div>
                <div class="span4 text_center">
                  <div class="boxfeature">
                    <div class="img_preview">
                      {%placeholder 'img2' %}
                      <h4>{%placeholder "sales-header2" %}</h4>
                    </div>
                    <div class="desc pad-20">
                 {%placeholder 'sales-desc2' %}
                      {%placeholder 'button-2'%}
                    </div>
                  </div>
                </div>
                <div class="span4 text_center">
                  <div class="boxfeature">
                    <div class="img_preview">
                      {%placeholder 'img3' %}
                      <h4>{%placeholder "sales-header3" %}</h4>
                    </div>
                    <div class="desc pad-20 ">
                     {%placeholder 'sales-desc3' %}
                      {%placeholder 'button-3'%}
                    </div>
                  </div>
                </div> -->

              
              </div> <!-- End Grid Top Featires-->

              <!-- Start Break Page Style-->
              <div class="divater hide-me"><div class="line"></div><span><img src="{{STATIC_URL}}images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <div class="row-fluid hide-me">
                <div class="span6">
                  <!-- Start Testimonaila list-->
                  <h3 class="blue-me">{%placeholder "testimonial-header" %}</h3>
                  <ul class="unstyled custumer_say overflow-it">
                    {%placeholder "testimonial-list" %}
                    
                  </ul><!-- End Testimonaila list-->
                </div>
                <div class="span6">
                  <!-- Start Events list-->
                  <h3 class="blue-me">{%placeholder "event-header" %}</h3>
                  <ul class="unstyled events" id="event-list">
                    
                   
                  </ul><!-- End Events list-->
                </div>
              </div>
            </div>
          </div>
          <!-- End Content Page -->
        </div>
      </section><!-- End section content page -->      

{% endblock base_content %}

{%block add_script %}
<script>
$(document).ready(function(){
  console.log('ehe')
  if (document.URL.indexOf("/zh/") > -1){
  $.ajax({
  type: "GET",
  url: "/getnewseventschinesemain"
 }).done(function(response) {

   console.log(response); // if you're into that sorta thing
    $("#event-list").html(response)
    $(".add-chinese").html("更多<i class='icon-angle-right'></i>")

 })

  }else if (document.URL.indexOf("/en/") > -1){
    $.ajax({
  type: "GET",
  url: "/getnewseventsenglishmain"
 }).done(function(response) {

   console.log(response); // if you're into that sorta thing
    $("#event-list").html(response)
  

 })
  }


})

</script>

{%endblock add_script %}