{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}      
      <section id="content">
        <div class="inner-wrapper pad-top">
          <div class="row-fluid">
            <div class="span3">
              <!-- Start link list accomodation -->
              <ul class="unstyled link_acomodation">
               {%placeholder "main-activities-navigation" %}
              </ul><!-- End link list accomodation -->
              <!-- Start testimonial -->
            </div>
            <div class="span9">
              <!-- Start Grid Accomodation -->
              <h2 class="no-top-margin">{% placeholder "main-activities-header" %}</h2>
              <p>{%placeholder "main-activities-para" %}</p>
             <div id="food_this_week" class="carousel slide main-activities-slider activity-slider">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                    {%placeholder "main-image-1" %}
                  </div>
                   <div class="item ">
                    {%placeholder "main-image-2" %}
                  </div>
 
                <div class="item ">
                    {%placeholder "main-image-3" %}
                  </div>
                   <div class="item ">
                    {%placeholder "main-image-4" %}
                  </div>
                  <div class="item ">
                    {%placeholder "main-image-5" %}
                  </div>
                  <div class="item ">
                    {%placeholder "main-image-6" %}
                  </div>
 
 
                </div>
                <!-- Carousel nav -->

      <a class="carousel-control left" href="#food_this_week" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#food_this_week" data-slide="next">›</a>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End section content page -->    
      {% endblock base_content %}