  {% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
  <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
              <div class="row-fluid">
                <div class="span6">
                  <h2>{%placeholder "header1" %}</h2>
                  {%placeholder "para1" %}
                  <h2>{%placeholder "header2" %}</h2>
                      <form class="lobstrer_form_validation">
                    <label>{%placeholder "email-label" %}</label>
                    <input type="email" class="input-block-level" name="email" required id="email" />
                    <label>{%placeholder "message-label" %}</label>
                    <textarea class="input-block-level" rows="5" required id="message"></textarea>
                    <input type="submit" value="Send" class="btn btn-large flat btn-primary orange-btn membership-btn" >
                  </form>
                </div>
                <div class="span6">
                  <div id="food_this_week" class="carousel slide margin-60">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                    {%placeholder "membership-image2" %}
                  </div>
                   <div class="item ">
                    {%placeholder "membership-image3" %}
                  </div>
 
                <div class="item ">
                    {%placeholder "membership-image4" %}
                  </div>
 
 
                </div>
                <!-- Carousel nav -->

      <a class="carousel-control left" href="#food_this_week" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#food_this_week" data-slide="next">›</a>
              </div>
                </div>
              </div>


            </div>
          </div>
      </section><!-- End section content page -->
      {% endblock base_content %}
{%block add_script%}
      <script>
      $('.membership-btn').click(function(){
  user_email = document.getElementById('email').value
  user_message = document.getElementById('message').value
$.ajax({
  type: "POST",
  url: "https://mandrillapp.com/api/1.0/messages/send.json",
  data: {
    "key": "eYgXhyzwlJt4hP2Evxe5bQ",
    "message": {
      "from_email": "info@revolutiondigital.ca",
      "to": [
          {
            "email": "info@sunshinecoastclub.com",
            "name": "Sunshine Coast Club",
            "type": "to"
          },
        ],
      "autotext": "true",
      "subject": "Membership Inquiry",
      "html": "Message From:" +user_email + "<br/>"+"message:"+user_message
    }
  }
 }).done(function(response) {
   console.log(response); // if you're into that sorta thing
   document.getElementById('newsletter-email').value = ""

 });

})
      </script>
      {%endblock add_script %}


