    {% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}


    <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <div id="food_this_week" class="carousel slide">
                 <div class="show-loading">
                  <img src="{{STATIC_URL}}images/loader.gif" class="loading-gif">
                </div>  
              <!--Start List Blog-->
              <div class="grid_list_blog">


              </div><!--End List Blog-->
          </div>
        </div>
      </section><!-- End section content page -->     



       {%endblock base_content %}

{%block add_script %}
<script>
$(document).ready(function(){
  if (document.URL.indexOf("/zh/") > -1){
  $.ajax({
  type: "GET",
  url: "/getnewseventschinesegrid"
 }).done(function(response) {

   console.log(response); // if you're into that sorta thing
    $(".grid_list_blog").html(response)
  

 })

  }else if (document.URL.indexOf("/en/") > -1){
    $.ajax({
  type: "GET",
  url: "/getnewseventsenglishgrid"
 }).done(function(response) {

   console.log(response); // if you're into that sorta thing
    $(".grid_list_blog").html(response)
  

 })
  }
  $('.show-loading').hide()


})

</script>
{%endblock add_script %}