    {% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
                    


    <section id="content">
        <div class="inner-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <a href="/news-events" class="pad-left-right btn btn-primary flat orange-btn go-back-button"></a>
              <h2>{%placeholder "header1" %}</h2>
              {% placeholder "image-1" %}
              <p>{%placeholder "content-1"%}</p>
          </div>
        </div>
        <a href="/news-events" class="pad-left-right btn btn-primary flat orange-btn go-back-button"> <i class="icon-angle-right"></i></a>
      </section><!-- End section content page -->     



       {%endblock base_content %}

       {%block add_script %}
<script>
$(document).ready(function(){
  console.log('ehe')
  if (document.URL.indexOf("/zh/") > -1){
  $('.go-back-button').html('< 退回')

  }else if (document.URL.indexOf("/en/") > -1){
    $('.go-back-button').html('< Back To News & Events')
  }


})

</script>

{%endblock add_script %}