{% for item in news_events %}
<li>
                      <div class="content_post">
                      	<div class="picture-container">
                        <img class="pull-left img_preview" src="/media/{{MEDIA_URL}}{{item.event_image}}" alt="preview" />
                        <a href="/news-and-events/{{item.event_link}}">
                        
                        <button class="btn flat btn-primary orange-btn"> Read More ></button>
                    </a>
                    </div>
						<div class="events-content-container">
                       	 <h4 class="blue-me smaller-margin">{{item.name}}</h4>
                        	<span class="event-timing">{{item.event_start}} - {{item.event_end}}</span>
                        	<p>{{item.content}} </p>
                        </div>	
                                              </div>
                    </li>
                    {% endfor  %}