                
{% for item in news_events %}
                <div class="item_grid span4">
                  <div class="panel news-events-panel">
                    <h4 class="recent-post-header blue-me">
                      <a href="/news-and-events/{{item.event_link}}">{{item.name}}</a>
                    </h4>
                    <img src="/media/{{MEDIA_URL}}{{item.event_image}}" alt="img_preview"/>
                    <div class="clearfix post_date">
                      <span class="pull-left">{{item.date_posted}}</span>
                    </div>
                    {%if item.event_start and item.event_end%}
                    <p class="pad-top-small">{{item.event_start}} - {{item.event_end}}</p>
                    {%endif%}
                     <p class="pad-top-small">{{item.content}}</p>
                    <a href="/news-and-events/{{item.event_link}}" class="pad-left-right btn btn-primary flat orange-btn absolute-button"> Read More ><i class="icon-angle-right"></i></a>
                  </div>
                </div>
          {% endfor  %}