{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{%block base_content %}
      
      <!-- Start section content page -->
      <section id="content">
        <div class="inner-wrapper pad-top">
          <div class="row-fluid">
            <div class="span6">

              <div id="executive_chef" class="carousel slide">
                <ol class="carousel-indicators">
               
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                  	{% placeholder "image-1" %}
                </div>
                  <div class="item ">
                    {%placeholder "image-2" %}
                  </div>
                   <div class="item ">
                    {%placeholder "image-3" %}
                  </div>
                
                </div>
                <!-- Carousel nav -->
<a class="carousel-control left" href="#executive_chef" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#executive_chef" data-slide="next">›</a>
              </div>
            </div>
            <div class="span6">
              <h2 class="no-top-margin">{% placeholder "sunshine-header1" %}</h2>
              <p>{%placeholder "sunshine-paragraph1" %}</p>
            </div>

          </div>
          <div class="divater"><div class="line"></div><span><img src="/static/images/deviter.png" alt=""></span></div>
          <div class="row-fluid">
            <div class="span6">
              <p>{% placeholder "sunshine-paragraph2" %}</p>
            </div>
            <div class="span6">
              <div id="food_this_week" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="item active">
                  	{%placeholder "membership-image2" %}
                  </div>
                   <div class="item ">
                    {%placeholder "membership-image3" %}
                  </div>
 
                       
 
 
                </div>
                <!-- Carousel nav -->

      <a class="carousel-control left" href="#food_this_week" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#food_this_week" data-slide="next">›</a>
              </div>
            </div>
          </div>

          
          </div>
      </section><!-- Start section content page -->    
{%endblock base_content %}
{%block add_script %}
<script>
try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i; } else { d.textContent=i; } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }}catch(e){}
  
</script>
<script>

                        $(document).ready(function(){
                                function fix_height(){
                                        var h = $("#tray").height();   
                                        $("#preview").attr("height", (($(window).height()) - h) + "px");
                                }
                                $(window).resize(function(){ fix_height(); }).resize();
                                //$("#preview").contentWindow.focus();
                        });

</script>
{% endblock add_script %}