{% load cms_tags %}

<li>
                      <div class="content_post">
                        <img class="pull-left img_preview" src="{{MEDIA_URL}}{{instance.event.event_image}}" alt="preview" />
                        <h4 class="blue-me">{% render_model instance.event "name"%}</h4>
                        <span class="event-timing">{% render_model instance.event "event_start" %} - {% render_model instance.event "event_end" %} </span>
                        <p>{% render_model instance.event "content" %} </p>
                      </div>
                    </li>