{% load cms_tags %}

<li class="clearfix">
                      <img class="pull-left img_client" src="{{MEDIA_URL}}{{instance.testimonial.profileimage}}" alt="image">

                      <h4 class="media-heading blue-me">{% render_model instance.testimonial "name" %}</h4>
                      <p>{% render_model instance.testimonial "content" %}</p>
                    </li>